html, body{
	height:100%;
}
body{
    background-image:url('../imagem/fundo.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position:center;
}                     

h1{
    text-align:center;
    color:black;
    font-family:;
    font-size:30px;
    margin-top:50;
  }

header {
   width:100%;
   height:50px;
   display:block;
   top:0px;
   left:0px;
   background-color:rgb(55,203,255);
   position:fixed;
   z-index:100;
	
}
.menu-icon {
	position:fixed;
	font-size:25px;
	font-weight:bold;
	padding:2px;
	width:45px;
	height:45px;
	text-align:center;
	background-color:rgb(55,203,255);
	color:black;
	cursor:pointer;
	transition: all 0.4s;
	left:6px;
	top:0px;
	z-index:100!important;
	
}
.menu-icon:hover{
   background-color:rgb(55,203,255);
   color:white;

}

#chk:checked ~ .menu-icon{
	left:250px;
	color:white;

}

#chk:checked ~ .menu-icon:hover{
	color:black;
}

#chk{
  display:none;
}  

.menu{
	height:100%;
	position:fixed;
	background-color:black;
	top:0;
	overflow: hidden;
	transition: all .4s;
	z-index:100!important;
	
}

#principal{
	width:250px;
	left:-250px;	
}

ul {
	list-style:none;
	left:-30px;  
}

ul li a{
	display:block;
	font-size:16px;
	font-family:Arial;
	padding:20px;
	margin-top:15px;
	margin-left:-30px;
	color:#ccc;
	text-decoration:none;
	transition: all .2s;
}

ul li a:hover{
	color:white;
	text-decoration:none;	
}

.home{
	margin-top:60px;
	background-color:#111;
	border-left: solid 5px #444;;
}

.bg{
	width:100%;
	height:100%;
	left:0;
	top:0;
}

#chk:checked~.bg{
	display:block;
}

#chk:checked ~ #principal{
  transform:translatex(250px);	
}



#dados{
	position:absolute;
	height:300px;
	width: 200px;
	right:auto;
	left:20px;

	}            

#dados input{
	color:blue;

	
	
} 
               
#icone-usuario{
    
}
             
 /** BOTÃO MINHA CONTA **/     

#botao{
	display:block;
	position:absolute;
	border: 2px solid black;
	margin-border:10px;
	right:3%;
	top:0.8%;
	color:black;
	background-color:rgb(55,203,255);
} 

.corpo-d{
	width:45%;
	height:60%;
	display:inline-block;
	float:left;
	background-color: white;
	margin:60px 2.5%;
	border-radius: 5%;
	box-shadow: 5px solid black;
}  



.corpo-e{
	width:45%;
	height:50%;
	display:inline-block;
	float:right;
	background-color: white;
	margin:60px 2.5%;
	border-radius: 5%;
	box-shadow: 5px solid black;
}  

                
               