body{
	background-image:url('../IMAGENS/fundo.jpg');
	background-size:Cover;
}

@keyframes bounceIn{
	0% { 
		transform: scale (0.5);
		opacity:0;
	}
	
	60%{
		transform:scale (5);
		opacity:1;
	}
	
	100%{
		transform:scale (10);
	}
}
#circulo{
		width: 700px;
		height:500px;
		top:50%;
		left:50%;
		margin-top:-250px;
		margin-left:-350px;
		border-radius:50%;
		background:white;
		position:absolute;
		transition:width,height 8s linear 2s;
		-webkit-animation-name:andar;
		-webkit-animation-duration:1.5s;
		text-align:center;

	
 }
 
 h1{
		text-align:center;
		top:50%;
		left:50%;
		font-size:90px;
		margin-top:170px;


 }
 
	@-webkit-keyframes andar{
		0%{
			width:100%;
			height:100%;
			top:0%;
			left:0%;
			margin-top:0px;
			margin-left:0px;
			border-radius:100%;
			background:black;
			position:absolute;
			color:white;
		}
		
		1%{
			
			border-radius:100%;
			background:black;
			color:white;
		}
		
		10%{
			
			border-radius:100%;
			background:black;
			color:white;
		}
		
		30%{
			
			border-radius:100%;
			background:black;
			color:white;
		}

		56%{
			
			border-radius:100%;
			background:black;
			color:white;
		}
		
		58%{
			transform:translateX(15px);
			transform:translateY(15px);
			border-radius:100%;
			background:black;
			color:white;
		}

		60%{
			transform:translateX(-15px);
			transform:translateY(-15px);
			border-radius:100%;
			background:black;
			color:white;
		}
		
		62%{
			transform:translateX(15px);
			transform:translateY(15px);
			border-radius:100%;
			background:black;
			color:white;
		}

		64%{
			transform:translateX(-15px);
			transform:translateY(-15px);
			border-radius:100%;
			background:black;
			color:white;
		}
		
		66%{
			transform:translateX(15px);
			transform:translateY(15px);
			border-radius:100%;
			background:black;
			color:white;
		}

		68%{
			transform:translateX(-15px);
			transform:translateY(-15px);
			border-radius:100%;
			background:black;
			color:white;
		}
		
		70%{
			transform:translateX(15px);
			transform:translateY(15px);
			border-radius:100%;
			background:black;
			color:white;
		}

		72%{
			transform:translateX(-15px);
			transform:translateY(-15px);
			border-radius:100%;
			background:black;
			color:white;
		}

		
		74%{
			transform:translateX(15px);
			transform:translateY(15px);
			border-radius:100%;
			background:black;
			color:white;
		}

		76%{
			transform:translateX(-15px);
			transform:translateY(-15px);
			border-radius:100%;
			background:black;
			color:white;
		}
		
				
		78%{
			transform:translateX(+15px);
			transform:translateY(+15px);
			border-radius:100%;
			background:black;
			color:white;
			
		}

		81%{
			transform:translateX(-15px);
			transform:translateY(-15px);
			border-radius:100%;
			background:black;
			color:white;
		}
				
		84%{
			transform:translateX(15px);
			transform:translateY(15px);
			border-radius:100%;
			background:black;
			color:white;
			transition-property:background;
			transition-duration:0.5s;
		}

		87%{
			transform:translateX(-15px);
			transform:translateY(-15px);
			border-radius:100%;
			background:black;
			color:white;
						transition-property:background;
			transition-duration:0.5s;
		}
		90%{
			transform:translateX(15px);
			transform:translateY(15px);
			border-radius:100%;
			background:black;
			color:white;
			transition-property:background;
			transition-duration:0.5s;
		}

		93%{
			transform:translateX(-15px);
			transform:translateY(-15px);
			border-radius:100%;

		}
		
		96%{
			transform:translateX(15px);
			transform:translateY(15px);
			border-radius:100%;
		}

		99%{
			transform:translateX(-15px);
			transform:translateY(-15px);
			border-radius:100%;
		}
	}
	
